version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "org.springframework.boot:spring-boot-starter"
        versions: ["<2.6.0"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  commit-message:
    prefix: "chore"
    include: "scope"
  pull-request-branch-name:
    separator: "-"
  rebase-strategy: "auto"
  open-pull-requests-limit: 10
