name: Java Maven CI Pipeline

on:
  push:
    branches:
      - release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code from your repository
      - name: Check out repository
        uses: actions/checkout@v4

      # Set up Java 21
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin" # or 'zulu', 'adopt', 'openjdk'
          java-version: "21"

      # Cache Maven dependencies
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      # Build the project
      - name: Build with Maven
        run: mvn clean compile

      # Run tests
      - name: Run tests with Maven
        run: mvn test

      # Package the project (skip tests in this step to avoid redundancy)
      - name: Package with Maven
        run: mvn package -DskipTests

      # Archive the JAR file as an artifact
      - name: Upload JAR file
        uses: actions/upload-artifact@v4
        with:
          name: springboot-app
          path: target/*.jar

      - name: conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3.7.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
            # skip-version-file: 'true'

      - name: Checkout
        uses: actions/checkout@v3

      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{steps.github_release.outputs.changelog}}
